.nav {
    background-color: #333;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
}

.nav li {
    float: right;
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

#style-container {
    /* float: left;
    max-width: 30%; */
    position: fixed; 
    top: 30%; 
    left: 0;
    width: 30%;
}

#post-form-div {
    /* float: right;
    max-width: 30%; */
    position: fixed; 
    top: 30%; 
    left: 70%;
    width: 30%;
}